<a href="https://colab.research.google.com/github/AsitSrivastava06/Basics-of-Pyhton/blob/main/practical5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Name = Asit kumar srivastava

#PRN=25070123026

#Batch=A2

#Title -To study Sets in Python
Sets are used to store multiple items in single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List,Tuple,and Dictionary,all with different qualities and usage. A set is a collection which is unordered,unchangeable*,and unindexed.

In [53]:
# Creation of set
seett = {"chocolate","vanilla","pista"}
print(seett)

{'chocolate', 'vanilla', 'pista'}

In [2]:
#Duplicates not allowed
seett = {"chocolate","vanilla","pista","chocolate"}
print(seett)

{'chocolate', 'vanilla', 'pista'}

In [3]:
# The values True and 1 are considered the same value in sets
seett = {"chocolate","vanilla","pista",True,1,2}
print(seett)

{True, 2, 'chocolate', 'vanilla', 'pista'}

In [4]:

# A set with strings, integers and boolean values:
set1 = {"abc",34,True,78,"female",10.5}
print(set1)#note that in output it prints of any order as output cause set is unordered

{'female', True, 34, 'abc', 10.5, 78}

In [6]:
# To check membership
seett = {"chocolate","vanilla","pista"}

print("chocolate" in seett )
print("biscoff" in seett)

True
False

In [7]:

# Once a set is created,you cannot replace its items,
# but you add new items.
seett = {"chocolate","vanilla","pista"}

seett.add("mango")
print(seett)

{'chocolate', 'mango', 'vanilla', 'pista'}

In [8]:

#Remove Item
seett = {"chocolate","vanilla","pista"}

seett.remove("pista")

print(seett)

{'chocolate', 'vanilla'}

In [10]:
# Set operations
A = {12,13,14,15,16}
B = {16,17,18,19,20}

print("Union:",A|B)
print("Intersection:",A&B)
print("Difference:",A-B)
print("Symmetric Difference:",A^B)

Union: {12, 13, 14, 15, 16, 17, 18, 19, 20}
Intersection: {16}
Difference: {12, 13, 14, 15}
Symmetric Difference: {12, 13, 14, 15, 17, 18, 19, 20}

In [11]:
# frozenset
x = frozenset({"chocolate","vanilla","pista"})
print(x)
print(type(x))

frozenset({'chocolate', 'vanilla', 'pista'})
<class 'frozenset'>

In [17]:
#Adding or Removal of elements are not allowed in Frozenset
x = frozenset({"chocolate","vanilla","pista"})
x.remove("pista")
print(x)

AttributeError: 'frozenset' object has no attribute 'remove'

In [47]:
''''Problem Statement 1: Unique Event participants A college event has a list of students who registered multiple times by mistake. Write a program using set to store participant Names and display only unique participants.'''''
registered = ["Dev","Ram","Riya","Manas","Rohan","Dev","Manas","Amit","Riya"]
uniqregistered = set(registered)
print("all the unique registered participants:",uniqregistered)

all the unique registered participants: {'Dev', 'Amit', 'Riya', 'Manas', 'Rohan', 'Ram'}

In [48]:
'''Problem Statement 4: Create a set of total student and present student and find the absent students using set operations.'''
total = {"Dev","Asit","Aditi","Ayush","Arnav","Dhvan","Darsh"}
present = {"Dev","Asit","Darsh","Dhvan","Arnav"}
print("Total present students",total-present)

Total present students {'Ayush', 'Aditi'}

In [50]:
Dev = {"AI","ML","Tpcs","Robotics","civil"}
Asit = {"mech","english","Robotics","physics","EG"}
common = Dev & Asit
print("common subjects chosen by all students",common)

common subjects chosen by all students {'Robotics'}

In [51]:
''''Problem statement 3:One set contains students in cricket club and another in the football club. Find students who are in both clubs and find students who are presend only on one club.'''''
cricketclub={"Dev","Asit","Aditi","Ayush","Arnav"}
footballclub={"Dev","Asit","Darsh","Dhvan","Arnav"}
print("students present in both clubs",cricketclub & footballclub)
print("students present in only one club",cricketclub ^ footballclub)

students present in both clubs {'Dev', 'Arnav', 'Asit'}
students present in only one club {'Aditi', 'Dhvan', 'Ayush', 'Darsh'}

In [49]:
''''Problem Statement 5: Remove Invalid Entries. A set contains valid course codes. Remove a discontinued course from the set.'''''


course = {"Dcld101","english112","EG115","Robotics104","Tpcs105"}
course.remove("english112")
course.discard("EG115")
print(course)

{'Tpcs105', 'Dcld101', 'Robotics104'}

In [18]:
#creation of dictionary
thedict = {
  "asit": "dev",
  "cricket": "Mustang",
  "year": 1964
}
thedict

{'asit': 'dev', 'cricket': 'Mustang', 'year': 1964}

In [29]:
#retriving values from dictionary
thedict= {"name":"asit","div":"A","PRN":"25070123026",}
print(thedict["name"])

asit

In [30]:
#dictionary takes latest value given for key . It will not allow duplicates
thedict= {"name":"asit","div":"A","PRN":"25070123026","name":"dev"}
print(thedict)

{'name': 'dev', 'div': 'A', 'PRN': '25070123026'}

In [32]:
#length of key-value parts
len(thedict)

3

In [34]:
#changing / adding key-value in dictionary
thedict= {"name":"asit","div":"A","PRN":"25070123026",}
thedict["name"]="dev"
x=thedict.values()
y=thedict.keys()
print(x)## value printed after change
print(y)## value printed after cahnge

dict_values(['dev', 'A', '25070123026'])
dict_keys(['name', 'div', 'PRN'])

In [36]:
# retrival of values
thedict= {"name":"asit","div":"A","PRN":"25070123026",}
print("name:",thedict["name"])
print("div:",thedict["div"])
print("PRN:",thedict["PRN"])

name: asit
div: A
PRN: 25070123026

In [39]:
# adding and updating elements
thedict["div"]="A2"
thedict["branch"]="entc"
print(thedict)

{'name': 'asit', 'div': 'A2', 'PRN': '25070123026', 'branch': 'entc'}

In [46]:
#removing elements
thedict.pop("name")
print("After removal:",student)

KeyError: 'name'

In [55]:
'''1. A dictionary stores product names and their prices. write a pyhton program to update the price of a given prodeuct.'''
onedict = {"apple":80,"banana":70,"strawberry":150}
print("Before updating :",onedict)
onedict["apple"]=120
print("After updating:",onedict)

Before updating : {'apple': 80, 'banana': 70, 'strawberry': 150}
After updating: {'apple': 120, 'banana': 70, 'strawberry': 150}

In [61]:
'''2. A dictionary stores student names and marks .'''
'write a pythin program to ssearch for a students marks using the name entry'
'If the student is not found , display a suitable message'

thisdict = {"Asit":80,"dev":95,"atharv":90}
name = input("enter student name :")
print(thisdict.get(name,"student not found "))

enter student name :sukhi
student not found

In [67]:
'''3.A dictionary stores usernames and passwords .
write a python program to validate user login'''
user_dict={"asit":"2244","dev":"2356","atharv":"1234"  }
user = input("enter username:")
password=(input("enter password:"))
if user in user_dict and user_dict[user]==password:
  print("user login successfull")
else:
    print("invalid user")

enter username:'asit
enter password:2244
invalid user

In [69]:
'''4.A dictionary stores student names and marks .
write a python program to find the student who scored the highest marks.'''
marks_dict=  {"Asit":80,"dev":95,"atharv":90}
topper = max(marks_dict,key=marks_dict.get)
print("topper:",topper)
print("Marks:",marks_dict[topper])

topper: dev
Marks: 95