<a href="https://colab.research.google.com/github/AsitSrivastava06/Basics-of-Pyhton/blob/main/practical4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical 4
## study of Tuple
## Name: ASIT KUMAR SRIVVASTAVA
## PRN : 25070123026
## BATCH : A2

In [ ]:
## Python Tuples
# Access Tuple iyems
thistuple = ("apple","banana","cherry")
print(thistuple[1])

banana

In [ ]:
thistuple = ("apple","banana","cherry")
thistuple[1]= "blackcurrent"
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1 = (3,4,5,6)
t2 = (1,4,7,8)
t3 = t1 + t2
print("t1:",t1)
print("t2:",t2)
print("t3:",t3)

t1: (3, 4, 5, 6)
t2: (1, 4, 7, 8)
t3: (3, 4, 5, 6, 1, 4, 7, 8)

In [ ]:
# add tuple to tuple
thistuple = ("apple","banana","cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# Address verification after appending new item in tuple
thistuple = ("apple","banana","cherry")
print("Before:",id(thistuple))

y = ("orange",)
thistuple += y
print("After:",id(thistuple))
print(thistuple)

Before: 135695233420672
After: 135695233657776
('apple', 'banana', 'cherry', 'orange')

In [ ]:
#practice problem
studentinfo = ("Maths" , 80 , "A")
subject,marks,grade = t1
print("Subjet:",subject)
print("Marks:",marks)
print("Grade:",grade)
if(marks > 75):
  print("Distinction")

Subjet: Maths
Marks: 80
Grade: A
Distinction

In [ ]:
#practice problem 2
attendance = ("P", "A", "P", "P", "A", "P", "P")
present_days = attendance.count("P")
absent_days = attendance.count("A")
print("Total Present Days:", present_days)
print("Total Absent Days:", absent_days)

if "A" in attendance:
    print("The employee was absent at least once during the week.")
else:
    print("The employee was present on all days.")

Total Present Days: 5
Total Absent Days: 2
The employee was absent at least once during the week.