<a href="https://colab.research.google.com/github/AsitSrivastava06/Basics-of-Pyhton/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Name-Asit Kumar Srivastava
#PRN-2507023026
#Batch-A2
#Unit-1

##Basic Programs-Experiment-1

In [5]:
#First Pyhton Program / String
print("Hello,Welcome to Python Programming")

Hello,Welcome to Python Programming

In [1]:
a="Hello"
print(a)

Hello

In [2]:
#Commment
#this is comment
print("Hello,Welcome")

Hello,Welcome

In [3]:
print("Hello World!")
print("Have a Good day")
print("Learning python is fun!")

Hello World!
Have a Good day
Learning python is fun!

In [4]:
print("Hello"); print("how are you ?"); print("Bye bye!")

Hello
how are you ?
Bye bye!

In [6]:
# Print numbers
a=3
print(a)
print(358)
print(500.200)

3
358
500.2

In [7]:
# Case-Sensitive
a=4
A= "Sally"
print(a)
print(A)

4
Sally

In [8]:
#Many values to Multiple variables
x,y,z= "Orange","Banana","Cherry"
print(x)
print(y)
print(z)

orange
Banana
Cherry

In [10]:
# Basic Arithmetic Operations
a =10
b=5
print("Addition =", a+b)

Addition = 15

In [12]:
# Understanding Data Types
x=10
y=3.14
z = "Python"
A= True
C = 3+2j
print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [13]:
# Taking Input form user
name = input("Enter your Name : ")
age = int(input("Enter your age : "))
print("Name :", name)
print("Age:",age)

Enter your Name : Asit
Enter your age : 19
Name : Asit
Age: 19

In [17]:
s1 = float(input("Marks of s1 : "))
s2 = float(input("Marks of s2 : "))
s3 = float(input("Marks of s3 : "))
s4 = float(input("Marks of s4 : "))
s5 = float(input("Marks of s5 : "))


print("sum =", s1+s2+s3+s4+s5)
print("Average = ",(s1+s2+s3+s4+s5)/5)

Marks of s1 : 20
Marks of s2 : 20
Marks of s3 : 20
Marks of s4 : 20
Marks of s5 : 20
sum = 100.0
Average =  20.0

In [18]:
# Area of circle
r = float(input("enter radius : "))
print("area =",3.14*r*r)

enter radius : 5
area = 78.5

In [ ]:
l = float(input("enter length : "))
b = float(input("enter breadth : "))

print("Area of rectangle = ", l*b)

In [20]:
l = float(input("enter length : "))
b = float(input("enter breadth : "))

print("Perimeter of rectangle = ", 2*(l+b))

enter length : 10
enter breadth : 5
Perimeter of rectangle =  30.0

In [21]:
#Python Booleans
print(10>9)
print(10 == 9)
print(10<9)

True
False
False

In [27]:
# Simple calculator
a = int(input("enter fisrt number :"))
b = int(input("enter second number :"))
print("addition =",a+b)
print("subtraction =",a-b)
print("multiplication =",a*b)
print("division =",a/b)

enter fisrt number :10
enter second number :2
addition = 12
subtraction = 8
multiplication = 20
division = 5.0

In [ ]:
+