<a href="https://colab.research.google.com/github/AsitSrivastava06/Basics-of-Pyhton/blob/main/practical3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practical-3
## Study of lists and its various operations on it
### NAME - Asit Kumar Srivastava

In [ ]:
## Python Lists
namelist = ["asit","dev","shiv"]
numberlist = [1,3,45,5.9]
print(namelist)
print(numberlist)

['asit', 'dev', 'shiv']
[1, 3, 45, 5.9]

In [ ]:
# List Items
# Lst items are ordered , changable , and allow duplicate values.
# List are indexed , the first item has index[0],the second has index[1] and so on'
# Allow duplicates
namelist = ["asit","dev","shiv","asit","shiv"]
print(namelist)

['asit', 'dev', 'shiv', 'asit', 'shiv']

In [ ]:
# List length
namelist = ["asit","dev","shiv"]
print(len(namelist))

3

In [ ]:
# A list with strings , integers and boolean values
list1 = ["abc",69,True,False,5.6,"college"]
print(list1)

['abc', 69, True, False, 5.6, 'college']

In [ ]:
# Access Items
list1 = ["abc",69,True,False,5.6,"college"]
print(list1[5])
print(list1[4])

college
5.6

In [ ]:
# Reverse/Negative indexing
namelist = ["asit","dev","shiv"]
print(namelist[-3])#prints index 3-3=0
print(namelist[-2])
print(namelist[-1])

asit
dev
shiv

In [ ]:
# Slicing
list2 = ["appe","banana","cherry","orange","kiwi","melon","mango","watermelon","strawberry"]
print(list2[:4])#prints from index[0] - index[4-1]
print(list2[3:8])#3 is inclusive and 8 is exclusive(i.e output till 7(8-1))
print(list2[-3:])#starts printing from [9-3=6]index till last

['appe', 'banana', 'cherry', 'orange']
['orange', 'kiwi', 'melon', 'mango', 'watermelon']
['mango', 'watermelon', 'strawberry']

In [ ]:
# change item value
namelist=["asit","dev","shiv"]
namelist[1] = "aarush" #changed value on index[1]
namelist[0] = "kahaan" #changed value on index[0]
print(namelist)

['kahaan', 'aarush', 'shiv']

In [ ]:
# Append items
namelist=["asit","dev","shiv"]
namelist.append("aarush") # added new item at the end
namelist.append("kahaan") #only one at a time
print(namelist)

['asit', 'dev', 'shiv', 'aarush', 'kahaan']

In [ ]:
# Insert items
namelist= ["asit","kahaan","aarush"]
namelist.insert(1,"shiv")
print(namelist)

['asit', 'shiv', 'kahaan', 'aarush']

In [ ]:
# Extend list
namelist= ["asit","kahaan","aarush"]
namelist.extend(numberlist)
print(namelist)

['asit', 'kahaan', 'aarush', 1, 3, 45, 5.9]

In [ ]:
# Length of list
numberlist = [1,3,45,5.9]
print(len(numberlist))

4

In [ ]:
8 in (3,4,5)

False

In [ ]:
list = ('-symbi-')*6
list

'-symbi--symbi--symbi--symbi--symbi--symbi-'

In [ ]:
numbers = [10,20,30,40,50]
# Slicing examples
print(numbers[1:4])
print(numbers[:3])   # 3 is inclusive in this
print(numbers[2:])
print(numbers[:])

[20, 30, 40]
[10, 20, 30]
[30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
# Studend marks management system
student_marks = [10,7,8,6,9,5,4]
print(max(student_marks))
print(min(student_marks))
average_marks= sum(student_marks)/len(student_marks)
print("Average marks :", average_marks)
print(len(student_marks))
student_marks.sort()
print(student_marks)

10
4
Average marks : 7.0
7
[4, 5, 6, 7, 8, 9, 10]

In [ ]:
from typing_extensions import get_protocol_members
# Grocery shopping list
grocery_list = ["milk","rice","spices","soap","grains","eggs","vegetables","flour","bread","oil"]
grocery_list.append("onion")
grocery_list.append("pasta")
grocery_list.remove("milk")
grocery_list.remove("eggs")
print("Final list:",grocery_list)

Final list: ['rice', 'spices', 'soap', 'grains', 'vegetables', 'flour', 'bread', 'oil', 'onion', 'pasta']

In [ ]:
# contact list
contact_list = ["kahaan","aarush","rohan","dolly","ram"]
contact_list.remove("ram")
contact_list.append("shyam")
contact_list.sort()
contact_list = [name.capitalize() for name in contact_list]
print("New contact list : ",contact_list)

New contact list :  ['Aarush', 'Dolly', 'Kahaan', 'Rohan', 'Shyam']

In [ ]:
# temperature analysis
temp_list = [ 24,25,26,23,21,20,18,17,24,20]
print("Temp of first 5 Days:",temp_list[:5])
print("Temp of last 5 Days:",temp_list[-5:])
print("The highest temoerature is:", max(temp_list))
print("The lowest temoerature is:", min(temp_list))
print("The average temprature is :",sum(temp_list)/len(temp_list))

Temp of first 5 Days: [24, 25, 26, 23, 21]
Temp of last 5 Days: [20, 18, 17, 24, 20]
The highest temoerature is: 26
The lowest temoerature is: 17
The average temprature is : 21.8